@font-face {
  font-family: "Open Sans";
  src: url("@/assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("@/assets/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("@/assets/fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("@/assets/fonts/OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Coralwaves";
  src: url("@/assets/fonts/Coralwaves-regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@import "normalize.scss";

@function compute($max) {
  $number: calc($max / 19.2);
  @return #{$number}vw;
}

@function fromWidth($pxVal) {
  $number: #{$pxVal / 19.2};
  @return clamp(#{0}px, #{$number}vw, #{$pxVal}px);
}

@keyframes bounce {
  30% {
    transform: scale(1.1);
  }
  40%,
  60% {
    transform: rotate(-5deg) scale(1.1);
  }
  50% {
    transform: rotate(5deg) scale(1.1);
  }
  70% {
    transform: rotate(0deg) scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fromOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-template {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  will-change: opacity;
  .modal-template__content {
    min-height: compute(235);
    position: relative;
    background-color: #fff;
    max-width: compute(280);
    width: 100%;
    padding: compute(0) compute(20) compute(20) compute(150);
    border-radius: 10px;
    border: 2px solid #000;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
  }
  .modal-template__title {
    color: #000;
    font-family: "Coralwaves";

    font-size: compute(46);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: compute(10);
  }
  .modal-template__text {
    color: #000;
    font-family: "Open Sans";
    font-size: compute(16);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: compute(25);
  }
  .modal-template__btn {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    background-color: #fff;
    outline: none;
    padding: compute(15) compute(20);
    padding-right: 0;
    border-radius: compute(10);
    border: 1px solid #000;
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: compute(16);
    font-weight: 600;
    text-align: left;
  }
  .modal-template__btn span {
    position: relative;
    display: block;
    &::before {
      content: "";
      position: absolute;
      right: compute(20);
      top: 50%;
      transform: translateY(-50%);
      width: compute(14);
      height: compute(18);
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cmask id='mask0_2022_1407' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='14' height='18'%3e%3crect width='14' height='18' fill='%23D9D9D9'/%3e%3c/mask%3e%3cg mask='url(%23mask0_2022_1407)'%3e%3cpath d='M12.0376 11.0966C13.3208 9.95335 13.3208 8.04665 12.0376 6.90341L6.32329 1.8125C5.10731 0.729166 3.17841 0.729166 1.96242 1.8125C0.679193 2.95574 0.679192 4.86244 1.96242 6.00568L5.32339 9L1.96242 11.9943C0.679192 13.1376 0.679192 15.0443 1.96242 16.1875C3.17841 17.2708 5.10731 17.2708 6.32329 16.1875L12.0376 11.0966Z' fill='%230ABBEF' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/g%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-scale-enter-active,
.fade-scale-leave-active {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-scale-enter-from,
.fade-scale-leave-to {
  opacity: 0;
  transform: scale(0);
}

.app-logo {
  position: absolute;
  left: compute(40);
  top: compute(17);
  width: compute(96);
  height: compute(66);
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.user-btn {
  z-index: 6;
  position: absolute;
  right: compute(45);
  top: compute(30);
  padding: compute(12);
  padding-left: compute(15);
  padding-right: compute(10);
  border-radius: compute(10);
  border: 2px solid #000;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
  color: #000;
  font-family: "Open Sans";
  font-size: compute(16);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  gap: compute(10);
}

.user-btn__exit {
  width: compute(24);
  height: compute(24);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2021_7633)'%3e%3cpath d='M14.5 8V6C14.5 5.46957 14.2893 4.96086 13.9142 4.58579C13.5391 4.21071 13.0304 4 12.5 4H5.5C4.96957 4 4.46086 4.21071 4.08579 4.58579C3.71071 4.96086 3.5 5.46957 3.5 6V18C3.5 18.5304 3.71071 19.0391 4.08579 19.4142C4.46086 19.7893 4.96957 20 5.5 20H12.5C13.0304 20 13.5391 19.7893 13.9142 19.4142C14.2893 19.0391 14.5 18.5304 14.5 18V16' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M9.5 12H21.5L18.5 9' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M18.5 15L21.5 12' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2021_7633'%3e%3crect width='24' height='24' fill='white' transform='translate(0.5)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}

.modal-img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: compute(130);
  border-radius: 10px 0px 0px 10px;
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 83%;
    height: 55%;
    content: "";
    background: linear-gradient(180deg, #3a3a3a 64.98%, #a0a0a0 100%);
    border-radius: 10px 0px 0px 10px;
  }
  &::before {
    overflow: hidden;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url("@/assets/img/modal-bg.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    border-radius: 10px 0px 0px 10px;
  }
}
.modal-img__man {
  background-image: url("@/assets/img/modal-man.svg");
  width: 109%;
  height: 84%;
  position: absolute;
  left: -16%;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  z-index: 3;
}

.modal-step {
  font-family: Coralwaves;
  position: absolute;
  width: compute(32);
  height: compute(32);
  top: compute(22);
  left: compute(90);
  z-index: 5;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: center;
  font-size: compute(24);
  line-height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.1897 31.6317C24.5345 31.6317 31.2993 24.6773 31.2993 16.0986C31.2993 7.51986 24.5345 0.56543 16.1897 0.56543C7.84488 0.56543 1.08008 7.51986 1.08008 16.0986C1.08008 24.6773 7.84488 31.6317 16.1897 31.6317Z' fill='white'/%3e%3cpath d='M25.1983 3.55237C28.3946 5.94208 30.816 9.52666 31.6877 13.7087C32.5594 17.8907 31.5908 22.4709 28.9757 25.8564C26.3606 29.2418 22.4863 31.2332 18.4184 31.8306C14.4473 32.4281 10.2824 31.4324 6.7956 29.0427C3.40563 26.7525 0.887375 22.8692 0.209381 18.5877C-0.468614 14.3061 0.49995 9.72581 3.11507 6.24081C5.63334 2.75581 9.60445 0.366084 13.7693 0.0673694C18.0309 -0.330916 22.002 1.06308 25.1983 3.55237ZM25.1014 3.65195C21.9052 1.26223 17.7404 0.465643 14.0598 1.36179C10.3793 2.25793 7.08618 4.34893 4.95534 7.43565C2.8245 10.5224 1.75909 14.4057 2.24337 18.1894C2.72765 21.9731 4.66478 25.5577 7.57047 28.0469C10.4762 30.5362 14.5441 31.7311 18.4184 31.0341C22.2926 30.3371 25.5857 27.9473 27.7166 24.7611C29.8474 21.5748 30.816 17.7911 30.5254 13.9078C30.138 10.0245 28.2977 6.04166 25.1014 3.65195Z' fill='black'/%3e%3c/svg%3e ");
}

.menu-btns {
  position: absolute;
  right: compute(35);
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: compute(35);
}

.menu-btn__ball {
  border-radius: 50%;
  border: 3px solid #000;
  background: #0bbaef;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
  width: compute(150);
  height: compute(150);
}

.menu-btn__text {
  position: absolute;
  bottom: -10%;
  left: 50%;
  width: fit-content;
  white-space: nowrap;
  background-color: #fff;
  transform: translateX(-50%);
  border-radius: 40px;
  border: 3px solid #000;
  background: #fff;
  padding: compute(5) compute(15);
  color: #000;
  font-family: "Open Sans";
  font-size: compute(16);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: compute(15);
  &::after {
    content: "";
    display: block;
    width: compute(15);
    height: compute(18);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cmask id='mask0_2022_1407' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='14' height='18'%3e%3crect width='14' height='18' fill='%23D9D9D9'/%3e%3c/mask%3e%3cg mask='url(%23mask0_2022_1407)'%3e%3cpath d='M12.0376 11.0966C13.3208 9.95335 13.3208 8.04665 12.0376 6.90341L6.32329 1.8125C5.10731 0.729166 3.17841 0.729166 1.96242 1.8125C0.679193 2.95574 0.679192 4.86244 1.96242 6.00568L5.32339 9L1.96242 11.9943C0.679192 13.1376 0.679192 15.0443 1.96242 16.1875C3.17841 17.2708 5.10731 17.2708 6.32329 16.1875L12.0376 11.0966Z' fill='%230ABBEF' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/g%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: transform 0.2s ease-in-out;
  }
}

.menu-btn__image {
  will-change: transform;
  transition: transform 0.2s ease-in-out;
  position: absolute;
  img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.menu-btn {
  &:hover {
    .menu-btn__image {
      transform: scale(1.1);
    }
    .menu-btn__text::after {
      transform: translateX(30%);
    }
  }
  position: relative;
  &:nth-of-type(1) {
    margin-top: compute(100);

    .menu-btn__image {
      top: -5%;
      left: 3%;
      width: compute(148);
      height: compute(133);
    }
  }

  &:nth-of-type(2) {
    .menu-btn__image {
      top: 15%;
      left: 8%;
      width: compute(130);
      height: compute(93);
    }
  }
}

.step-wrapper {
  width: 100%;
  height: 100vh;
  &.no-interactive {
    pointer-events: none;
  }
}

.step-wrapper__block {
  max-width: 1920px;
  margin: auto;
  position: relative;
}

.step-wrapper__content {
  overflow: hidden;
  // height: 56.4vw;
  // width: 100vw;
  width: 100%;
  padding-top: 56.4%;
  max-height: 1082px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  position: relative;
}

@keyframes dropShadowPulse {
  0% {
    filter: drop-shadow(0px 6px 10px #0078dc) drop-shadow(0px -6px 10px #0078dc);
  }

  50% {
    filter: drop-shadow(0px 6px 20px #0078dc) drop-shadow(0px -6px 20px #0078dc);
  }

  100% {
    filter: drop-shadow(0px 6px 10px #0078dc) drop-shadow(0px -6px 10px #0078dc);
  }
}

.man-modal__close {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M40.4875 78.9868C61.4179 78.9868 78.3852 61.7784 78.3852 40.5508C78.3852 19.3231 61.4179 2.11475 40.4875 2.11475C19.5572 2.11475 2.58984 19.3231 2.58984 40.5508C2.58984 61.7784 19.5572 78.9868 40.4875 78.9868Z' fill='%23DF5763'/%3e%3cpath d='M68.7591 14.4923C72.0779 18.2924 74.8613 22.6355 76.7883 27.3043C78.7153 32.0816 79.8929 37.1847 80 42.505C80 47.8252 79.0365 53.1454 76.8954 58.0314C74.7543 62.9173 71.4355 67.2604 67.4745 70.7348C63.4064 74.2093 58.6959 76.7065 53.7713 78.2266C48.8468 79.7467 43.7081 80.2895 38.5694 79.8552C28.3991 79.2038 18.55 74.8607 11.2702 67.3689C7.63032 63.6773 4.63276 59.2257 2.70575 54.2312C0.77875 49.2367 -0.184752 43.9165 0.0293599 38.4876C0.243471 27.7386 5.06098 16.9895 12.9831 9.82347C16.9442 6.24045 21.6546 3.41747 26.6862 1.78882C31.7179 0.160175 37.0706 -0.382708 42.3164 0.26875C47.4551 0.920208 52.4867 2.65743 56.876 5.04611C61.3723 7.54337 65.3334 10.6921 68.6521 14.4923H68.7591ZM68.3309 14.9266C65.0122 11.235 60.837 8.3034 56.3407 6.4576C51.8443 4.61181 46.9198 3.85177 42.2093 3.96035C37.4989 4.06892 32.7884 5.15469 28.5062 6.89191C24.224 8.62913 20.2629 11.1264 16.8371 14.2751C13.4113 17.4238 10.7349 21.224 8.59382 25.3499C6.55976 29.5844 5.38215 34.1446 4.95392 38.8134C4.31159 48.1509 7.30915 57.9228 13.3043 65.4146C16.3018 69.1062 20.1558 72.3635 24.5451 74.535C28.8274 76.7065 33.7519 78.0094 38.5694 78.118C43.3869 78.2266 48.3115 77.2494 52.7008 75.4036C57.0901 73.4492 61.0511 70.7348 64.3699 67.3689C71.0073 60.7458 75.3966 51.9511 76.5742 42.2878C77.1095 37.5104 76.8954 32.5159 75.3966 27.7386C74.0049 22.9612 71.5426 18.5096 68.2239 14.818L68.3309 14.9266Z' fill='black'/%3e%3cpath d='M61.5887 27.6304L48.3139 40.8767C48.3139 40.8767 61.1605 53.363 61.5887 53.363C62.017 53.363 53.2384 61.5062 53.2384 61.5062L40.2847 47.2827L29.0438 61.5062C29.0438 61.5062 21.0147 53.7973 21.0147 53.363C21.0147 52.9286 33.5402 40.7681 33.219 40.8767C32.8978 40.9853 19.3018 27.6304 19.3018 27.6304L27.2239 19.5957L40.4988 32.2991L53.9878 19.5957L61.5887 27.6304Z' fill='white'/%3e%3cpath d='M61.7986 27.6304C58.0516 32.082 53.8765 37.0765 49.3801 41.9624V39.7909C51.2001 41.4196 53.02 43.1568 54.947 44.7854C56.767 46.4141 58.5869 48.1513 60.4068 49.7799L61.7986 50.9743C62.0127 51.1914 62.2268 51.4086 62.4409 51.5172H62.548C62.3339 51.5172 61.9056 51.3 61.6915 51.4086C61.7986 51.4086 61.3703 51.4086 62.0127 51.4086C62.4409 51.4086 63.0832 51.8429 63.2974 52.2772C63.6185 52.8201 63.5115 52.8201 63.6185 53.0372C63.6185 53.2544 63.6185 53.4715 63.6185 53.5801C63.6185 53.6887 63.5115 54.0144 63.5115 54.0144V54.2316L63.2974 54.3401V54.5573V54.7745C63.1903 54.7745 62.9762 54.9916 62.9762 54.9916C62.0127 55.9688 61.1562 56.8374 60.1927 57.706C58.3728 59.4432 56.5528 61.0719 54.6258 62.7005C53.8765 63.352 52.8059 63.352 52.1636 62.7005C50.1295 60.2033 47.9884 57.706 46.0614 55.2088C44.0273 52.7115 41.9933 50.2143 39.9592 47.717H41.2439C39.3169 49.9971 37.3899 52.2772 35.4629 54.6659C33.6429 57.0546 31.7159 59.4432 29.896 61.8319C29.6819 62.1576 29.1466 62.2662 28.8254 61.9405C27.3267 60.529 25.8279 59.2261 24.3291 57.9232L22.0809 55.8602C21.7598 55.5345 21.3315 55.2088 21.0104 54.7745C21.0104 54.7745 20.7963 54.5573 20.6892 54.4487V54.2316C20.4751 54.2316 20.4751 54.2316 20.261 53.7973C20.261 53.6887 20.1539 53.4715 20.1539 53.2544C20.1539 53.2544 20.1539 53.1458 20.1539 53.0372C20.1539 52.8201 20.261 52.6029 20.261 52.6029V52.3858L20.5822 52.1686L20.7963 51.8429C23.4727 48.6942 26.149 45.7626 28.9325 42.8311L30.9665 40.6595C31.2877 40.3338 31.6089 39.8995 31.93 39.5738V39.6823C31.93 39.6823 31.9301 39.8995 31.823 39.8995C31.823 40.0081 31.823 40.1166 31.823 40.2252C32.0371 39.8995 31.0736 40.9853 33.0006 42.3967C34.7135 42.6139 33.4288 42.3967 33.75 42.3967C33.75 42.3967 33.6429 42.3967 33.5359 42.3967C33.4288 42.3967 33.2147 42.3967 33.1077 42.3967C33.0006 42.3967 32.7865 42.3968 32.6794 42.2882C32.6794 42.2882 32.5724 42.2882 32.4653 42.2882L32.1442 42.071H31.93C31.93 41.9624 31.2877 41.4196 31.2877 41.4196C29.6819 40.0081 28.2902 38.7052 26.7914 37.2937L18.0128 29.0419C17.1564 28.1732 17.0493 26.7618 17.9058 25.8931C19.1904 24.4817 20.4751 23.1787 21.8668 21.8758C23.1515 20.5729 24.4362 19.1614 25.8279 17.8585C26.6843 16.9899 28.076 16.9899 28.9325 17.8585L35.4629 24.2645L41.9933 30.7791H39.4239L46.4896 24.6988C48.8448 22.6358 51.2001 20.6815 53.5553 18.7271C53.9835 18.2928 54.5188 18.4014 54.947 18.7271C56.2317 20.2472 57.4093 21.7672 58.5869 23.1787L62.0127 27.4132L61.7986 27.6304ZM61.3703 27.6304L57.1952 23.8302C55.8035 22.6358 54.5188 21.4415 53.2341 20.3557H54.7329C52.5918 22.6358 50.4507 24.916 48.3096 27.0875L41.7792 33.7106C41.1368 34.3621 39.9592 34.4707 39.3169 33.7106L32.4653 27.4132L25.7208 21.1158H28.9325C27.6478 22.4187 26.3632 23.7216 24.9714 25.0245C23.6868 26.3274 22.4021 27.7389 21.0104 29.0419V25.7846L29.4678 34.2535C30.8595 35.665 32.3583 37.0765 33.75 38.3794L34.2853 38.8137C34.2853 38.9223 34.2853 38.8137 34.2853 38.9223C34.2853 38.9223 34.2853 38.9223 34.1782 38.9223C34.0712 38.9223 33.9641 38.9223 33.8571 38.8137C33.75 38.8137 33.6429 38.8137 33.4288 38.8137C33.4288 38.8137 33.3218 38.8137 33.2147 38.8137C33.5359 38.8137 32.2512 38.8137 33.9641 38.9223C35.9982 40.3338 34.9276 41.4196 35.1417 41.0938C35.1417 41.2024 35.1417 41.311 35.0347 41.4196L34.9276 41.7453L34.8205 41.9624L34.6064 42.1796C34.1782 42.6139 33.8571 42.9396 33.4288 43.2654L31.2877 45.3283C28.3972 48.0427 25.2926 50.7571 22.5092 53.4715L22.295 53.6887C22.295 53.6887 22.4021 53.363 22.4021 53.2544V53.0372C22.4021 52.9287 22.4021 52.8201 22.4021 52.7115C22.188 52.3858 22.4021 52.6029 22.4021 52.6029C22.4021 52.8201 22.5092 52.9287 22.6162 53.0372C22.9374 53.363 23.2585 53.7973 23.5797 54.123L25.6138 56.2945C27.0055 57.706 28.2902 59.2261 29.7889 60.6376H28.7184C30.6454 58.3575 32.5724 55.9688 34.3923 53.6887C36.2123 51.3 38.0322 48.9113 39.8522 46.4141C40.0663 46.0884 40.6016 45.9798 40.9227 46.1969C43.1709 48.5856 45.4191 50.7571 47.7743 53.0372C50.1295 55.3173 52.3777 57.5974 54.6258 59.8775H52.1636C53.8765 58.0317 55.6964 56.2945 57.5163 54.5573L60.0857 52.06C60.0857 51.9515 60.0857 51.9515 60.0857 52.06C60.0857 52.1686 60.0857 52.2772 60.0857 52.2772C60.0857 52.2772 60.0857 52.4944 59.9786 52.7115C59.9786 52.9287 59.9786 53.1458 59.9786 53.2544C59.9786 53.4715 59.9786 53.4715 60.2998 54.0144C60.5139 54.4487 61.1562 54.883 61.5845 54.883C62.1197 54.883 61.6915 54.883 61.7986 54.883C61.3703 54.883 60.8351 54.6659 60.5139 54.3401L60.2998 54.123C59.9786 53.9058 59.7645 53.6887 59.5504 53.4715L58.1587 52.1686C56.3387 50.4314 54.6258 48.6942 52.8059 46.8484C51.093 45.1112 49.2731 43.2654 47.5602 41.4196C47.0249 40.7681 47.0249 39.8995 47.5602 39.3566C51.8424 35.3393 56.5528 31.5391 61.5845 27.0875L61.3703 27.6304Z' fill='black'/%3e%3c/svg%3e ");
  width: clamp(20px, 4vw, 80px);
  height: clamp(20px, 4vw, 80px);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
  cursor: pointer;
}

.man-modal {
  position: absolute;
  right: 27%;
  top: clamp(1px, 4.42vw, 85px);
  border-radius: clamp(1px, 2vw, 40px);
  border: clamp(1px, 0.26vw, 5px) solid #000;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: clamp(1px, 0.52vw, 10px) clamp(1px, 0.52vw, 10px) 0px 0px #000;
  backdrop-filter: blur(15px);
  max-width: 29%;
  width: 100%;
  padding: clamp(1px, 2vw, 40px) clamp(1px, 2.6vw, 50px);
  color: #000;
  font-family: "Open Sans";
  font-size: clamp(1px, 1.66vw, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 5;
  &::before {
    position: absolute;
    content: "";
    right: 0;
    top: clamp(1px, 6.3vw, 120px);
    transform: translateX(100%);
    width: clamp(1px, 5.2vw, 100px);
    height: clamp(1px, 2.6vw, 49px);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='103' height='56' viewBox='0 0 103 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg filter='url(%23filter0_bd_2093_3676)'%3e%3cpath d='M0 1.71533V45.9448C0 45.9448 54 56.2157 94.5 24.2155C37.5 24.2152 0 1.71533 0 1.71533Z' fill='url(%23paint0_linear_2093_3676)'/%3e%3c/g%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.000137091 1.71541L1.02843 0L1.03147 0.00181651L1.04746 0.0113205L1.12016 0.0541263C1.18666 0.0930696 1.28912 0.152594 1.42699 0.231329C1.70275 0.388804 2.12014 0.623109 2.67477 0.923294C3.78408 1.52369 5.4421 2.38746 7.61372 3.42706C11.9574 5.50647 18.3532 8.28804 26.5205 11.0723C42.8574 16.6418 66.2624 22.2154 94.5001 22.2156L100.257 22.2156L95.7401 25.7848C75.0686 42.118 51.008 47.6244 32.2165 49.0744C22.8096 49.8002 14.6862 49.5127 8.90843 49.0432C6.01841 48.8083 3.71201 48.5275 2.12157 48.3043C1.32626 48.1927 0.288396 48.0254 0.288396 48.0254L0.000137091 45.9449L0.000487 43.7153C0.764855 43.8576 1.90776 44.2351 2.67753 44.3431C4.19842 44.5566 6.42718 44.8283 9.23247 45.0563C14.8454 45.5125 22.7532 45.7927 31.9088 45.0862C48.8091 43.7822 69.8358 39.127 88.5524 26.1346C62.4454 25.4233 40.7302 20.1426 25.2298 14.8584C16.8971 12.0177 10.3554 9.17428 5.88655 7.03496C3.65193 5.96519 0 3.71533 0 3.71533L0.000137091 1.71541Z' fill='black'/%3e%3cdefs%3e%3cfilter id='filter0_bd_2093_3676' x='-30' y='-28.2847' width='154.5' height='105.799' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeGaussianBlur in='BackgroundImageFix' stdDeviation='15'/%3e%3cfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_2093_3676'/%3e%3cfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3e%3cfeOffset dx='8' dy='8'/%3e%3cfeComposite in2='hardAlpha' operator='out'/%3e%3cfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'/%3e%3cfeBlend mode='normal' in2='effect1_backgroundBlur_2093_3676' result='effect2_dropShadow_2093_3676'/%3e%3cfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_2093_3676' result='shape'/%3e%3c/filter%3e%3clinearGradient id='paint0_linear_2093_3676' x1='2.33282e-07' y1='24.7153' x2='95' y2='24.7153' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FAFAF9'/%3e%3cstop offset='1' stop-color='%23E0F0FF'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.tabs-modal,
.video-modal {
  display: block;
  .modal-content {
    margin: auto;
    margin-top: fromWidth(150);
    box-sizing: border-box;
    max-width: fromWidth(1230);
    width: 100%;
    padding: fromWidth(60) fromWidth(90) fromWidth(60) fromWidth(40);
    border-radius: 40px;
    border: 5px solid #000;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: fromWidth(10) fromWidth(10) 0px 0px #000;
    backdrop-filter: blur(5px);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='289' height='262' viewBox='0 0 289 262' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg filter='url(%23filter0_d_2119_5310)'%3e%3ccircle cx='127.85' cy='130.457' r='90' fill='%23B2D2DC'/%3e%3c/g%3e%3cpath d='M65.1735 121.45L154.881 97.6896L130.456 53.4177L40.6208 77.2129L65.1735 121.45Z' fill='url(%23paint0_linear_2119_5310)'/%3e%3cpath d='M109.74 119.313L49.3378 135.498L68.7391 207.904L129.142 191.72L109.74 119.313Z' fill='%23174075'/%3e%3cpath d='M111.8 118.761C109.304 114.597 98.3874 121.25 94.1532 121.418C79.5057 125.481 63.476 130.052 49.0608 134.467C47.1157 138.026 53.0561 148.863 53.5607 153.837C58.8146 171.899 62.4885 190.247 67.064 208.353C67.635 211.515 75.231 207.408 76.9146 207.509C93.6573 203.023 112.64 197.108 129.304 191.814C123.879 167.446 118.29 142.982 111.8 118.761ZM113.221 195.157C99.3027 198.334 83.5811 201.994 69.9639 205.781C63.106 182.763 55.8617 159.848 50.6781 136.381C69.5253 132.022 89.428 126.965 108.266 122.056C114.376 144.86 121.966 169.063 129.012 191.754L113.385 195.251L113.221 195.157Z' fill='black'/%3e%3cpath d='M218.86 90.2128L225.039 113.275C226.213 117.655 223.667 122.066 219.289 123.239L103.249 154.332C98.8699 155.505 94.426 152.829 93.2868 148.578L87.1073 125.516L218.988 90.1783L218.86 90.2128Z' fill='white'/%3e%3cpath d='M209.329 92.7665C210.223 99.7076 219.529 116.408 207.997 119.222L93.632 149.866C93.5284 149.48 93.3903 148.964 93.2868 148.578L87.1073 125.516L209.458 92.732L209.329 92.7665Z' fill='%233EB2E6'/%3e%3cpath d='M205.249 127.001L79.1638 160.785L90.2453 202.142L216.331 168.357L205.249 127.001Z' fill='url(%23paint1_linear_2119_5310)'/%3e%3cpath d='M194.135 139.092L97.5429 164.974L100.167 174.766L196.759 148.884L194.135 139.092Z' fill='%233EB2E6'/%3e%3cpath d='M193.987 138.027C161.444 145.366 129.083 153.899 97.3345 164.201C95.7917 166.686 99.7324 172.12 100.071 174.929C124.148 169.997 149.143 163.852 172.624 156.179C180.461 152.975 190.673 152.448 197.402 148.712C196.774 147.913 195.85 137.252 193.858 138.062L193.987 138.027ZM172.561 154.401C148.004 159.6 124.221 166.663 100.225 174.474L98.5216 165.54C130.524 158.76 162.172 150.142 193.38 140.399L195.778 148.318C188.085 150.518 180.263 152.751 172.596 154.53L172.561 154.401Z' fill='black'/%3e%3cpath d='M77.4427 118.301L57.3459 79.3596L123.158 61.7254L143.255 100.667L77.4427 118.301Z' fill='white'/%3e%3cpath d='M77.4427 118.301L57.3459 79.3596L123.158 61.7254L143.255 100.667L77.4427 118.301Z' fill='white'/%3e%3cpath d='M77.4427 118.301L57.3459 79.3596L123.158 61.7254L143.255 100.667L77.4427 118.301Z' fill='white'/%3e%3cpath d='M219.85 80.0046L77.1503 118.241L79.6359 127.517L222.335 89.2809L219.85 80.0046Z' fill='url(%23paint2_linear_2119_5310)'/%3e%3cpath d='M219.204 78.1065C203.234 82.3856 170.556 91.2798 154.878 95.6188C145.722 82.054 139.387 65.1095 130.181 52.3867C111.428 56.583 92.461 61.527 73.8461 66.2387C31.8632 79.5593 32.7143 66.7652 52.1685 100.217C55.3963 105.566 61.8172 116.136 65.045 121.485L42.6355 127.489L45.1211 136.766L79.6359 127.517L77.7449 118.91C123.468 108.73 172.965 94.0866 218.566 82.4202L220.015 87.8314C175.997 101.283 79.7656 127.483 79.7656 127.483L86.0764 125.792C90.142 134.783 89.7119 147.602 97.5191 154.071C93.7682 156.043 78.0437 157.633 77.911 161.259C81.3446 173.043 86.7182 190.521 90.4439 202.365C132.14 193.126 175.379 181.402 216.796 169.061C215.122 156.115 209.374 141.361 206.883 127.944C234.987 122.07 225.073 113.403 220.442 91.9979C222.116 91.5493 224.959 91.34 224.432 88.8575C223.468 87.3207 222.905 76.9769 219.496 78.1663L219.204 78.1065ZM132.28 101.95C113.665 106.662 95.6094 111.914 77.1074 117.562C72.0089 106.776 64.4301 90.8558 59.2373 80.2335C79.6897 75.1676 101.876 69.3609 122.131 64.0718C126.711 72.9248 136.036 90.7251 140.746 99.5436C137.912 100.303 135.079 101.062 132.28 101.95ZM148.087 97.5766C146.799 97.9217 145.511 98.2668 144.223 98.6118C139.504 89.2435 129.834 70.1548 124.987 60.8209C124.616 59.9535 123.671 59.5164 122.641 59.7925C106.799 64.0371 89.1895 68.8937 73.4174 73.396L57.0013 78.0709C56.2285 78.278 55.6629 79.2581 56.1276 79.9621C62.1715 91.1848 70.7714 106.279 76.9787 117.597C73.0207 118.795 69.1915 119.959 65.1392 121.321C58.2761 107.556 50.5432 92.0912 43.3282 78.5586C72.1865 71.3784 101.353 63.2871 129.866 54.8185C137.923 68.4017 145.756 82.1828 152.946 96.1364L147.923 97.4822L148.087 97.5766ZM210.164 147.916C211.717 153.713 213.996 162.217 215.549 168.014C173.09 178.01 132.556 189.01 90.3748 202.107C87.7578 190.795 83.7067 173.1 81.03 162.08C121.969 152.077 163.98 140.406 204.436 128.599C206.325 135.135 208.309 141.508 210.07 148.079L210.164 147.916ZM216.668 123.25C177.849 132.409 136.627 142.902 98.2572 153.736C93.6593 151.515 91.5879 143.785 88.2844 126.305C132.041 116.513 174.995 103.209 218.441 92.2579C219.638 101.879 232.34 120.432 216.634 123.121L216.668 123.25Z' fill='black'/%3e%3cpath d='M194.768 144.032C224.058 145.16 242.082 168.638 247.295 188.093L178.135 206.624C171.127 180.47 146.678 163.408 120.07 164.047L194.768 144.032Z' fill='white'/%3e%3cpath d='M247.503 183.204C240.33 162.617 221.507 145.429 199.294 143.924C172.268 146.609 146.032 155.848 119.482 161.857C117.164 162.479 117.616 166.224 120.072 166.118C147.968 165.134 168.656 183.618 178.376 207.526C182.591 206.258 191.314 203.783 195.53 202.515C212.719 197.633 230.218 193.911 247.58 189.673C250.344 188.657 247.728 185.077 247.468 183.075L247.503 183.204ZM229.726 191.558C213.027 196.722 195.932 201.441 178.923 205.446C173.604 183.535 154.428 166.579 132.307 162.84C153.231 156.957 174.085 150.817 194.802 144.161L199.278 144.895C221.201 148.411 238.548 166.271 245.206 186.995C240.054 188.376 234.972 190.014 229.726 191.558Z' fill='black'/%3e%3cdefs%3e%3cfilter id='filter0_d_2119_5310' x='32.8496' y='40.457' width='185' height='185' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3e%3cfeOffset dx='-5' dy='5'/%3e%3cfeComposite in2='hardAlpha' operator='out'/%3e%3cfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'/%3e%3cfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_2119_5310'/%3e%3cfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_2119_5310' result='shape'/%3e%3c/filter%3e%3clinearGradient id='paint0_linear_2119_5310' x1='39.291' y1='130.969' x2='248.838' y2='130.969' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%230ABBEF'/%3e%3cstop offset='0.2' stop-color='%230D9ACF'/%3e%3cstop offset='0.8' stop-color='%2314598E'/%3e%3cstop offset='1' stop-color='%23174075'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_2119_5310' x1='39.291' y1='131.214' x2='248.838' y2='131.214' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%230ABBEF'/%3e%3cstop offset='0.2' stop-color='%230D9ACF'/%3e%3cstop offset='0.8' stop-color='%2314598E'/%3e%3cstop offset='1' stop-color='%23174075'/%3e%3c/linearGradient%3e%3clinearGradient id='paint2_linear_2119_5310' x1='39.291' y1='130.969' x2='248.648' y2='130.969' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%230ABBEF'/%3e%3cstop offset='0.2' stop-color='%230D9ACF'/%3e%3cstop offset='0.8' stop-color='%2314598E'/%3e%3cstop offset='1' stop-color='%23174075'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: fromWidth(280) fromWidth(280);
    background-position: top left;
  }

  .tabs-content {
    color: #000;
    font-family: "Open Sans";
    font-size: fromWidth(32);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: fromWidth(60);
  }

  .tabs-modal__inner {
    padding-left: fromWidth(300);
  }
  .tabs-head {
    display: flex;
    align-items: center;
    gap: fromWidth(15);
    margin-bottom: fromWidth(60);

    .tabs-btn {
      color: #000;
      text-align: center;
      font-family: "Open Sans";
      font-size: fromWidth(32);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: fromWidth(24) fromWidth(32);
      border-radius: fromWidth(20);
      border: fromWidth(4) solid #000;
      background: #b2d2dc;
      cursor: pointer;
      &.current {
        background: #fff;
      }
    }
  }

  .modal-btn {
    cursor: pointer;
    width: fit-content;
    padding: fromWidth(32) fromWidth(97) fromWidth(32) fromWidth(40);
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: fromWidth(32);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: fromWidth(20);
    border: fromWidth(4) solid #000;
    background: #fff;
    box-shadow: fromWidth(8) fromWidth(8) 0px 0px rgba(0, 0, 0, 0.25);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='37' height='32' viewBox='0 0 37 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.8583 2.24034C31.2246 2.01646 31.6621 1.94546 32.0788 2.04223C32.4956 2.139 32.8592 2.39601 33.0935 2.75934L34.7302 5.29557C34.9436 5.62689 35.0349 6.02414 34.988 6.4172C34.9411 6.81026 34.759 7.17385 34.474 7.4438L34.469 7.45052L34.4459 7.47236L34.3516 7.56138L33.9796 7.92249C31.9213 9.9508 29.9254 12.0435 27.9948 14.1976C24.3626 18.2555 20.0493 23.5665 17.1461 28.7196C16.336 30.1573 14.3571 30.4664 13.1833 29.2251L2.46186 17.9078C2.30821 17.7456 2.18824 17.5536 2.10908 17.3433C2.02992 17.133 1.99318 16.9087 2.00104 16.6837C2.00891 16.4587 2.06122 16.2376 2.15487 16.0336C2.24851 15.8295 2.38159 15.6467 2.54618 15.4959L5.78657 12.5263C6.07133 12.2655 6.43647 12.1133 6.81949 12.0959C7.20251 12.0784 7.5796 12.1967 7.88621 12.4306L13.3569 16.5977C21.9026 8.03671 26.7483 4.75137 30.8583 2.24034Z' fill='%230ABBEF' stroke='black' stroke-width='3'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center right fromWidth(30);
    background-size: fromWidth(39) fromWidth(34);
  }
}

.pointer-none {
  opacity: 0.3;
  pointer-events: none;
}

.video-modal {
  .modal-content {
    padding-left: 0;
    background-size: fromWidth(180) fromWidth(180);
    background-position: top fromWidth(60) left fromWidth(40);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='189' height='187' viewBox='0 0 189 187' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg filter='url(%23filter0_d_2093_6093)'%3e%3ccircle cx='95' cy='90' r='90' fill='%23B2D2DC'/%3e%3c/g%3e%3cpath d='M169.822 28.3988H20.4316C16.7887 28.3988 13.8356 31.3471 13.8356 34.9839V133.316C13.8356 136.952 16.7887 139.901 20.4316 139.901H169.822C173.465 139.901 176.418 136.952 176.418 133.316V34.9839C176.418 31.3471 173.465 28.3988 169.822 28.3988Z' fill='white'/%3e%3cpath d='M169.822 139.99C119.817 139.99 69.7232 141.769 19.7183 140.791C11.7853 140.079 12.9441 130.824 13.1224 125.218C13.4789 97.6314 13.4789 68.8883 13.3006 41.3911C12.944 35.6958 12.6766 27.8649 20.4314 27.6869C69.3666 27.153 118.391 26.886 167.326 27.064C178.379 26.1741 178.112 34.717 177.666 43.1708C177.577 69.1553 176.774 100.835 176.596 126.997C176.774 132.337 177.22 139.99 169.822 140.168V139.99ZM169.822 139.723C176.864 139.545 176.418 131.981 176.151 126.82C175.794 97.5425 175.17 63.816 174.992 34.717C175.794 25.9961 150.658 30.9795 144.24 29.7336C112.686 29.7336 81.0433 29.5557 49.4895 29.2887C39.7738 29.2887 30.058 29.1107 20.3423 29.0217C13.6571 29.0217 14.2811 36.4967 14.3702 41.3021C14.1028 68.7994 14.192 97.5424 14.5485 125.129C14.7268 129.845 13.2115 139.367 20.788 138.833C70.4362 137.943 120.085 139.545 169.733 139.634L169.822 139.723Z' fill='black'/%3e%3cpath d='M169.287 37.7427H21.0554V130.557H169.287V37.7427Z' fill='url(%23paint0_linear_2093_6093)'/%3e%3cpath d='M112.508 36.3187L110.904 39.0774L58.5816 129.311L57.2445 131.625C48.331 131.625 39.4175 131.447 30.504 131.358L31.4845 129.578L81.7567 38.8994L83.1828 36.4077C92.3638 36.4077 103.417 36.3187 112.508 36.3187Z' fill='white'/%3e%3cpath d='M140.854 36.3188L139.249 39.1665L86.9268 129.489L85.6789 131.625C81.6678 131.625 77.7459 131.625 73.7348 131.625L74.9827 129.311L125.077 39.0775L126.681 36.2298C131.227 36.2298 136.486 36.2298 140.943 36.2298L140.854 36.3188Z' fill='white'/%3e%3cpath d='M169.287 36.4077C120.441 36.8527 68.8321 35.0729 20.3426 37.7426C20.7882 67.3755 20.7882 100.924 20.3426 130.557C68.5647 133.583 120.352 130.735 169.466 130.557C168.663 102.971 173.031 62.2142 169.466 36.4077H169.287ZM168.396 83.7493L169.109 130.379C119.817 129.578 70.2583 128.866 20.9665 129.667C21.2339 129.667 21.5013 129.667 21.7687 129.667C21.323 100.568 21.7687 38.3655 21.7687 38.3655C70.2582 38.8994 168.396 38.8994 167.95 38.9884C168.129 53.8494 168.218 68.7103 168.396 83.7493Z' fill='black'/%3e%3cpath d='M93.166 33.4711C92.4529 30.8905 96.464 29.9116 97.0879 32.4923C97.801 35.0729 93.7899 36.0518 93.166 33.4711Z' fill='black'/%3e%3cpath d='M188.719 139.634C128.374 138.032 61.7905 138.299 1.53508 139.278C-1.04984 144.706 6.25921 152.003 12.1421 151.38C21.6796 151.38 31.3062 151.38 40.8437 151.38C86.7483 152.715 132.564 151.558 178.468 151.024C184.262 151.291 190.145 145.151 188.808 139.634H188.719Z' fill='black'/%3e%3cdefs%3e%3cfilter id='filter0_d_2093_6093' x='0' y='0' width='185' height='185' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3e%3cfeOffset dx='-5' dy='5'/%3e%3cfeComposite in2='hardAlpha' operator='out'/%3e%3cfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'/%3e%3cfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_2093_6093'/%3e%3cfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_2093_6093' result='shape'/%3e%3c/filter%3e%3clinearGradient id='paint0_linear_2093_6093' x1='1' y1='89.4401' x2='189' y2='89.4401' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%230ABBEF'/%3e%3cstop offset='0.2' stop-color='%230D9ACF'/%3e%3cstop offset='0.8' stop-color='%2314598E'/%3e%3cstop offset='1' stop-color='%23174075'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
  }

  .video-block {
    margin-left: fromWidth(300);
    height: fromWidth(420);
    border-radius: fromWidth(20);
    border: 2px solid rgba(255, 255, 255, 0.8);
    overflow: hidden;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
    .plyr__controls {
      display: none;
    }
    .plyr__poster {
      background-size: cover !important;
      background-color: #fff !important;
    }
    .plyr__control--overlaid {
      height: fromWidth(100);
      width: fromWidth(100);
      border-radius: 0;
      background-color: transparent !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      transition: all 0.2s ease-in-out;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='2' y='2' width='96' height='96' rx='18' fill='white'/%3e%3crect x='2' y='2' width='96' height='96' rx='18' stroke='black' stroke-width='4'/%3e%3cpath d='M66.4647 47.3993C68.4709 48.5528 68.4709 51.4472 66.4647 52.6007L41.4954 66.9581C39.4954 68.1081 37 66.6644 37 64.3574L37 35.6426C37 33.3356 39.4954 31.8919 41.4954 33.0419L66.4647 47.3993Z' fill='%230ABBEF' stroke='black' stroke-width='4'/%3e%3c/svg%3e ") !important;

      svg {
        display: none;
      }
    }
  }
}
@media (max-height: 1082px) {
  .step-wrapper__block {
    max-width: 177vh;
  }
}
